/* Variables */
:root {
   /* Spacing */
   --default-space: 2.5rem;

   /* Colors */
   --pdf-red: #F40F02;
   --primary-red-0: #EC1818;
   --primary-red-l1: #eb5050;
   --primary-red-d1: #DD3232;
   --secondary-cyan-0: #18ECEC;
   --secondary-cyan-l1: #5ff2f2;
   --secondary-cyan-d1: #21c4ec;
   --download-green: #33cc33;
   --black-0: #242828;
   --gray-0: #F0F0F0;
   --gray-d1: #8a9799;
   --white-0: #f5f5f5;

}

/* Normalization */
html {
   box-sizing: border-box;
}

body {
   position: relative;
   max-width: 1440px;
   height: 1024px;
   margin: 0 auto;
   background: linear-gradient(rgba(236, 24, 24, 0.26) 0%, rgba(236, 24, 24, 0.05) 12%, white 100%) no-repeat;
}

h1 {
   font-size: 3rem;
}

h2 {
   font-size: 2.5rem;
}

h3 {
   font-size: 1.5rem;
}

/* Utilities */
.sec-divider {
   height: 5px;
   width: 90%;
   margin: auto;
   border-radius: 2.5px;
   background: var(--black-0);
}

/* Buttons */
.btn {
   cursor: pointer;
   border: none;
   padding: 0 2rem;
   min-width: 120px;
   height: 45px;
   border-radius: 50px;
   filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
   font-size: 18px;
   font-weight: bold;
   letter-spacing: 1px;
   backface-visibility: hidden;

   transition: all .2s;
}

.btn:hover {
   filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
   transform: translateY(-5px) scale(105%);
}

.btn-primary{
   background: var(--secondary-cyan-0);
}

.btn-primary:hover{
   background: var(--secondary-cyan-l1);
}

.btn-secondary{
   color: var(--white-0);
   background: var(--primary-red-0);
}

.btn-secondary:hover{
   background: var(--primary-red-d1);
}

.hide-btn {
   visibility: hidden;
   transform: translateX(-5%);
   opacity: 0%;
}

.show-btn {
   visibility: visible;
   transform: translateX(0);
   opacity: 100%;
}

/* Nav */
.nav-container {
   height: 100px;
   padding: 0 var(--default-space);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-container a {
   color: var(--black-0);
   text-decoration: none;
}

ul.nav-items {
   list-style: none;
   padding: 0;
   display: flex;
}

li.nav-item:not(:last-child) {
   margin-right: 1rem;
}

/* Custom Select */
.custom-select-box {
   cursor: pointer;
   width: 300px;
   height: 50px;
   background: var(--white-0);
   border: 1px solid var(--gray-d1);
   padding: 0 1rem;
   border-radius: 10px;
   font-size: 16px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.select-caret {
   width: 16px;
   transition: all .2s;
}

.select-caret-up {
   transform: rotate(180deg);
}

.custom-select-opt-container {
   position: absolute;
   width: calc(300px + 2rem);
   background-color: white;
   border-radius: 5px;
   border: 1px solid var(--gray-d1);
   overflow-y: auto;
   z-index: 1;
   transition: all .3s ease-in-out;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.custom-select-opt-container-show {
   visibility: visible;
   max-height: 250px;
}

.custom-select-opt-container-hide {
   visibility: hidden;
   max-height: 0px;
}

.custom-select-opt-container .custom-select-opt {
   cursor: pointer;
   display: flex;
   align-items: center;
   padding: 0 1rem;
   height: 50px;
   font-size: 16px;
   transition: background-color .2s;
}

.custom-select-opt:hover {
   background-color: var(--gray-0);
}

/* Main Content */
.main-container {
   margin: 0 var(--default-space);
   height: 80%;
   display: flex;
   align-items: center;
}

/* Shared page styles */
.not-found-container-item, 
.download-container-item, 
.convert-container-item, 
.home-container-item {
   flex-basis: 50%;
}

.not-found-container-left, 
.download-container-left, 
.convert-container-left, 
.home-container-left {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.not-found-container-right, 
.download-container-right, 
.convert-container-right, 
.home-container-right {
   height: 60%;
}

/*---------- Index homepage ----------*/

.home-form-select {
   margin-bottom: var(--default-space);
}

.home-form-select > label {
   font-size: 24px;
}

#id_conversion_mode {
   display: none;
}

.home-form-select > .custom-select-box {
   margin-top: .5rem;
}

.home-pdf-svg {
   position: relative;
   margin: auto;
   width: 50%;
   color: var(--pdf-red);
   animation: floating 2s ease-in-out infinite;
}

.home-pdf-svg:after {
   /* Shadow effect resource https://www.cssportal.com/blog/10-image-shadows-using-css/ */
   content:"";
   position: absolute;
   top: 75%;
   bottom: -17%;
   left: 0%;
   right: 0%;
   z-index:-2;

   -webkit-box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
   -moz-box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
   box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);

   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   border-radius:50%;
   
   transform:scaleY(.3);
   -webkit-transform:scaleY(.3);
   -moz-transform:scaleY(.3);
   -ms-transform:scaleY(.3);
   -o-transform:scaleY(.3);

   animation: floating-shadow 2s ease-in-out infinite;
}

/*---------- Convert page ----------*/
.convert-form {
   display: flex;
   justify-content: space-between;
}

.convert-file-info {
   margin: auto;
   max-width: 200px;
   text-align: center;
}

.convert-file-input input[type="file"] {
   display: none;
}

.convert-file-input > label {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 1.5rem;
}

.convert-file-info {
   margin-left: auto;
}

.convert-cyc-svg {
   position: relative;
   margin: auto;
   width: 50%;
   color: var(--secondary-cyan-d1);
   animation: floating 2s ease-in-out infinite;
}

.convert-cyc-svg > svg {
   animation: rotating-360 2s linear infinite;
}

.convert-cyc-svg:after {
   /* Shadow effect resource https://www.cssportal.com/blog/10-image-shadows-using-css/ */
   content:"";
   position: absolute;
   top: 75%;
   bottom: -17%;
   left: 0%;
   right: 0%;
   z-index:-2;

   -webkit-box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
   -moz-box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
   box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);

   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   border-radius:50%;
   
   transform:scaleY(.3);
   -webkit-transform:scaleY(.3);
   -moz-transform:scaleY(.3);
   -ms-transform:scaleY(.3);
   -o-transform:scaleY(.3);

   animation: floating-shadow 2s ease-in-out infinite;
}

/*---------- Download page ----------*/
.download-container-left .btn {
   text-decoration: none;
   color: unset;
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 100px;
   margin: 0 auto;
}

.download-cyc-svg {
   position: relative;
   margin: auto;
   width: 50%;
   color: var(--download-green);
   animation: floating 2s ease-in-out infinite;
}

.download-cyc-svg:after {
   /* Shadow effect resource https://www.cssportal.com/blog/10-image-shadows-using-css/ */
   content:"";
   position: absolute;
   top: 75%;
   bottom: -17%;
   left: 0%;
   right: 0%;
   z-index:-2;

   -webkit-box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
   -moz-box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
   box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);

   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   border-radius:50%;
   
   transform:scaleY(.3);
   -webkit-transform:scaleY(.3);
   -moz-transform:scaleY(.3);
   -ms-transform:scaleY(.3);
   -o-transform:scaleY(.3);

   animation: floating-shadow 2s ease-in-out infinite;
}

/*---------- 404 page ----------*/
.not-found-svg {
   position: relative;
   margin: auto;
   width: 50%;
   color: var(--black-0);
   animation: floating 2s ease-in-out infinite;
}

.not-found-svg:after {
   /* Shadow effect resource https://www.cssportal.com/blog/10-image-shadows-using-css/ */
   content:"";
   position: absolute;
   top: 75%;
   bottom: -17%;
   left: 0%;
   right: 0%;
   z-index:-2;

   -webkit-box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
   -moz-box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
   box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);

   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   border-radius:50%;
   
   transform:scaleY(.3);
   -webkit-transform:scaleY(.3);
   -moz-transform:scaleY(.3);
   -ms-transform:scaleY(.3);
   -o-transform:scaleY(.3);

   animation: floating-shadow 2s ease-in-out infinite;
}

.not-found-svg-text {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

/* Animations */
@keyframes floating {
   0% {
      transform: translateY(0%);
   }

   47.5% {
      transform: translateY(-10%);
   }

   95% {
      transform: translateY(0%);
   }
}

@keyframes floating-shadow {
   0% {
      top: 75%;
      bottom: -17%;
      -webkit-box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
      -moz-box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
      box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
   }

   47.5% {
      top: 80%;
      bottom: -22%;
      -webkit-box-shadow:0px 250px 30px -15px rgba(0,0,0,.1);
      -moz-box-shadow:0px 250px 30px -15px rgba(0,0,0,.1);
      box-shadow:0px 250px 30px -15px rgba(0,0,0,.1);
   }

   95% {
      top: 75%;
      bottom: -17%;
      -webkit-box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
      -moz-box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
      box-shadow:0px 250px 25px -35px rgba(0,0,0,.15);
   }
}

@keyframes rotating-360 {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

/* Loading */
.loading-container {
   display: flex;
   align-items: center;
}

.loading-container > span {
   font-size: 24px;
   font-weight: bold;
}

/* Loading element from loading.io, Modified for two color sphere */
.lds-ellipsis {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
}

.lds-ellipsis div {
   position: absolute;
   top: 33px;
   width: 13px;
   height: 13px;
   border-radius: 50%;
   animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-c1 {
   background-color: var(--primary-red-l1);
}

.lds-c2 {
   background-color: var(--primary-red-d1);
}

.lds-ellipsis div:nth-child(1) {
   left: 8px;
   animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
   left: 8px;
   animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
   left: 32px;
   animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
   left: 56px;
   animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
   0% {
      transform: scale(0);
   }
   100% {
      transform: scale(1);
   }
}
@keyframes lds-ellipsis3 {
   0% {
      transform: scale(1);
   }
   100% {
      transform: scale(0);
   }
}
@keyframes lds-ellipsis2 {
   0% {
      transform: translate(0, 0);
   }
   100% {
      transform: translate(24px, 0);
   }
}

/* Hidden */
.hidden {
   display: none;
}