<!DOCTYPE html>
{% extends "base.html" %}
{% load svg %}
{% block body_block %}
<div class="not-found-container-item not-found-container-left">
    <div>
        <h1>This {{ not_found_type }} does not exist!</h1>
        <h3>Please navigate to a different page.</h3>
    </div>
</div>
<div class="not-found-container-item not-found-container-right">
    <!-- icon resource: https://fontawesome.com , license: https://fontawesome.com/license -->
    <div class="not-found-svg">
        {% svg 'file-regular' %}
        <svg class="not-found-svg-text" viewBox="0 0 384 512">
            <text x="110" y="320" font-weight="bold" font-size="100" font-family="sans-serif">404</text>
        </svg>
    </div>
</div>
{% endblock %}