{% load static %}
{% load svg %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>PDF Converter</title>
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="nav-logo">
                <!-- 
                    logo created in https://www.namecheap.com/. 
                    font-name: Karla-Regular, font-author: Jonny Pinhorn. 
                    icon-designer: Javier Cabezas
                -->
                <a href="{% url 'index' %}" class="nav-home">
                    {% svg 'logo' %}
                </a>
            </div>
            <ul class="nav-items">
                {% for key, value in nav_categories.items %}
                    <li class="nav-item">
                        <h3>{{ key|capfirst }}</h3>
                        <ul class="nav-dropdown-container">
                            {% for path, title in value.items %}
                                <li><a href="{% url 'convert' path %}" class="nav-dropdown-link">{{ title|capfirst }}</a></li>
                            {% endfor %}
                        </ul>    
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <div class="sec-divider"></div>
    <main class="main-container">
        {% block body_block %}
            <!-- Actual body if the page -->
        {% endblock %}
    </main>
</body>
</html>