<!DOCTYPE html>
{% extends "base.html" %}
{% load svg %}
{% block body_block %}
<div class="download-container-item download-container-left">
    <div>
        <h1>Your file is ready!</h1>
        <h3>Please download the file within 60 seconds.</h3>
    </div>
    <a 
        class="btn btn-primary" 
        href="{% url 'download' file_name %}?download={{file_exist}}" 
    >
        Download my file
    </a>
</div>
<div class="download-container-item download-container-right">
    <!-- icon resource: https://fontawesome.com , license: https://fontawesome.com/license -->
    <div class="download-cyc-svg">{% svg 'file-download-solid' %}</div>
</div>
{% endblock %}
